name: checks
on:
  push:
    branches:
      - main
      - v*
  pull_request:

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.8

      - uses: astral-sh/setup-uv@v7

      - name: Run check for type
        run: uv run noxfile.py -s mypy
